[defaults]
# Ruta del archivo de inventario
# Sin esto, Ansible usa el inventario por defecto (o localhost)
inventory = ./inventory

# Desactiva la comprobación de claves SSH conocidas
host_key_checking = False

# Fuerza el uso de Python detectado automáticamente sin fallos
# Reduce errores con diferentes versiones de Python en los nodos
interpreter_python = auto_silent

# Cambia el formato de salida de los comandos
# "yaml" hace que los resultados sean más legibles y profesionales
stdout_callback = yaml
